"*":
  core:
    audioBeep: false
    projectHome: "~/src"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "414fce83-a041-dabe-1dba-de1a9359e358"
  "git-projects":
    rootPath: "~/src"
  "go-plus": {}
  "linter-golinter": {}
  "one-dark-ui":
    layoutMode: "Compact"
  racer: {}
  welcome:
    showOnStartup: false
